<settings>
    <category label="14206">
        <setting id="playbackMethod" label="30000" type="enum" default="0" values="Auto Play Highest Quality|Auto Play Lowest Quality|Select Quality Via Dialog"/>
        <setting id="playback_cap" label="Playback Quality Limit" type="select" values="Off|2160|1080|720" default="Off" />
        <setting id="date_format" label="Date Format" type="enum" values="Y/M/D|M/D/Y|D/M/Y" default="0" />
        <setting id="one_line_titles" label="One Line Titles" type="bool" default="False" />
        <setting id="subtitles_enabled" label="Subtitles Enabled" type="bool" default="False" />
        <setting id="subtitles_select" label="Subtitles Selection" type="bool" default="False" visible="eq(-1,True)" />
    </category>
    <category label="Login">
        <setting id="username" label="Username" type="text" default=""/>
        <setting id="password" label="Password" type="text" option="hidden" default=""/>
        <setting id="resetSession" label="Reset Session" type="action" action="RunPlugin(plugin://plugin.video.rumble/?mode=10)"/>
    </category>
    <category label="Cloudflare Bypass">
        <setting id="bypassCloudflare" label="Enabled" type="bool" default="False"/>
        <setting id="flareSolverrUrl" label="Flaresolverr URL" type="text" default="http://localhost:8191/v1" visible="eq(-1,true)" />
        <setting id="flareSolverrTimeout" label="Flaresolverr Timeout (s)" type="number" default="60" visible="eq(-2,true)" />
    </category>
    <category label="Debug">
        <setting id="useHTTP" label="Use HTTP" type="bool" default="False"/>
        <setting id="loginTest" label="Test Login Details" type="action" action="RunPlugin(plugin://plugin.video.rumble/?mode=14)"/>
        <setting id="importFavorites" label="Import Favorites" type="action" action="RunPlugin(plugin://plugin.video.rumble/?mode=9)"/>
        <setting id="inputstream_disable" label="Inputstream Disable" type="bool" default="False" />
    </category>
</settings>
